.navigation {
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation__list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.navigation__list--items {
  float: left;
}

.navigation_list--links {
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation_list--items:hover:not(.navigation_list--links) {
  background-color: #ddd;
}
.navigation_list--items.navigation_list--links {
  color: white;
}

.navigation__button {
  border: none;
}
