.navigation {
  position: fixed;
  top: 0;
}
.navigation__list {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  background-color: #fb6d00;
}
.navigation__list--items {
  float: left;
}

.navigation_list--links {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation_list--items:hover:not(.navigation_list--links) {
  background-color: #ddd;
}
.navigation_list--items.navigation_list--links {
  color: white;
}

.navigation__button {
  border: none;
  background-color: #fb6d00;
}
