.table {
  max-width: fit-content;
  border-collapse: collapse;
  vertical-align: middle;
  overflow-x: auto;
  padding: 2px;
  margin: 10px;
}
.table--cell {
  border: 2px solid darkgrey;
  text-align: center;
}

.table__headers {
  background-color: #c5f01c;
}
.table__row :nth-child(even) {
  background: #eee;
}
.table__row :hover {
  background: #ddd;
}
